<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="keywords" content="up ảnh lấy link, up image to link, up anh lay link, link anh, up image, up ảnh ">
	<meta name="description" content="UP ẢNH LẤY LINK Miễn Phí mang lại kết quả nhanh nhất, chính xác nhất và trải nghiệm tốt nhất">
	<meta property="og:locale" content="vi_VN">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://countries-text-output-set.trycloudflare.com/assets/images/upik.io.png">
	<meta property="og:url" content="https://countries-text-output-set.trycloudflare.com/">
	<meta property="og:title" content="Up Ảnh Lấy Link Miễn Phí">
	<meta property="og:description" content="Trang web up ảnh lấy link miễn phí nhanh và tốt nhất.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">

	<!--favicon-->
	<link rel="icon" href="https://minhdevs.github.io/introduce/dev.png" type="image/png">
	<title>UP ẢNH LẤY LINK</title>

	<!-- swalalert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- ToastifyJs -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

	<!-- Tailwindcss and daisyUI -->
	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>

	<!-- Custom Style -->
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
	<%- include('./partials/header.ejs') %> <%- body %> <%- include('./partials/footer.ejs') %>
</body>

</html>