<section class="bg-main pt-5 ">
	<h1 class="text-center text-white text-3xl">LẤY LINK ẢNH MIỄN PHÍ</h1>

	<div class="container mx-auto flex justify-center ">
		<div class="main-content sm:w-96 md:w-2/3 lg:w-2/3 mx-4 mt-5 bg-white p-5 rounded rounded-3">
			<form action="/getshort" class="flex " enctype="multipart/form-data" method="post">
				<input id="image" type="file" class="file-input file-input-bordered file-input-warning file-input-md w-full" />
				<button class="btn btn-neutral text-white ms-5">Get Link</button>
			</form>
			<div class="divider"></div>
			<div class="display-result flex">
				<input type="text" placeholder="Your short link here..." class="input input-bordered input-md w-full" disabled />
				<button class="btn btn-square ms-5 btn-copy">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
					</svg>
				</button>
			</div>
		</div>
	</div>
	<svg id="wave" viewBox="0 0 100 15">
		<path fill="#fff" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z"></path>
		<path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"></path>
	</svg>
</section>

<!-- About -->
<section class="flex justify-center items-center" style="height: calc(100vh - 500px);">
	<div class="card max-w-96">
		<h1 class="text-5xl font-bold">Kiểm soát hoàn toàn các liên kết của bạn</h1>
		<p class="py-6">Với tư cách thành viên cao cấp của chúng tôi, bạn sẽ có toàn quyền kiểm soát các liên kết của mình. Điều này có nghĩa là bạn có thể thay đổi điểm đến bất kỳ lúc nào bạn muốn. Thêm, thay đổi hoặc xóa bất kỳ bộ lọc nào, bất cứ lúc nào.</p>

	</div>
</section>

<div class="flex justify-center items-center" style="background-image: -webkit-linear-gradient(45deg, #c4183c 0%, #4f37ac 100%);height: calc(100vh - 200px);">
	<div class="hero bg-base-200 m-5 w-2/3 mx-auto p-5 rounded rounded-4">
		<div class="hero-content text-center">
			<div>
				<h1 class="text-5xl font-bold">The Magic of the Internet</h1>
				<p class="py-6">Imgur is the easiest way to discover and enjoy the magic of the Internet. It’s where you’ll find the funniest, most informative and inspiring images, memes, GIFs, and visual stories served up in an endless stream of bite-sized fun. Powered by a passionate community of people from all around the world, anyone can join to share cool stuff and vote the best to the top.
					You’ll always find something on Imgur to make you smile and brighten your day.</p>
				<button class="btn btn-primary">Get Started</button>
			</div>
		</div>
	</div>
</div>

<script>
	const $ = document.querySelector.bind(document);

	const form = $("form")
	const copy = $(".btn-copy");

	const exts = ['jpg', 'jpeg', 'png', 'gif'];

	form.onsubmit = async (e) => {
		e.preventDefault();

		if ($("#image").files.length <= 0) {
			Swal.fire({
				title: "Error!",
				text: "Please select an image to upload.",
				icon: "error"
			});
			return;
		}

		const image = $("#image").files[0];

		if (!exts.includes(image.name.split('.').reverse()[0].toLowerCase())) {
			Swal.fire({
				title: "Error!",
				text: "Please select a valid image file (jpg, jpeg, png, gif).",
				icon: "error"
			});
			return;
		}

		// Create a FormData object to send the image data
		const formData = new FormData();
		formData.append('image', image);

		try {
			const response = await fetch("/getshort", {
				method: 'POST',
				body: formData
			});

			if (response.ok) {
				// If the request was successful, parse the response
				const imageUrl = await response.text();
				// Do something with the imageUrl, like display it on the page
				const input = $('input[type="text"]');
				input.value = imageUrl;

				copy.onclick = () => {
					var tempInput = document.createElement("input");
					tempInput.style = "position: absolute; left: -1000px; top: -1000px";
					tempInput.value = imageUrl;
					document.body.appendChild(tempInput);
					tempInput.select();
					document.execCommand("copy");
					document.body.removeChild(tempInput);
					Swal.fire({
						title: "Success!",
						text: "Link copied to clipboard.",
						icon: "success"
					});

				}

				// Clear the file input field after submitting the form
				form.reset();
			} else {
				Swal.fire({
					title: "Error!",
					text: "An error occurred while processing the image. Please try again.",
					icon: "error"
				});
			}
		} catch (error) {
			Swal.fire({
				title: "Error!",
				text: "An error occurred while processing the image. Please try again.",
				icon: "error"
			});
		}
	}
</script>